https://www.yelp.com/dataset/documentation/main

In [1]:
import json
import pandas as pd

In [17]:
import pandas as pd
from tqdm.auto import tqdm  # Import tqdm for the progress bar

file_path = 'yelp_dataset/yelp_academic_dataset_business.json'
csv_file_path = 'yelp_dataset/yelp_academic_dataset_business.csv'

# We need to know the total number of chunks to configure tqdm. This can be tricky with files.
# An alternative approach is to estimate the number of iterations by dividing the file size by an estimated chunk size in bytes.
# However, for simplicity and given we might not know the exact number of lines or their distribution, we'll initialize tqdm without total.

chunk_size = 10000  # Adjust based on your system's memory

# Initialize the progress bar. We won't set 'total' as it's hard to determine without reading the file twice.
pbar = tqdm(desc="Processing", unit="chunk")

with pd.read_json(file_path, lines=True, chunksize=chunk_size) as reader:
    for i, chunk in enumerate(reader):
        mode = 'w' if i == 0 else 'a'
        header = True if i == 0 else False
        chunk.to_csv(csv_file_path, mode=mode, index=False, header=header)
        pbar.update(1)  # Update the progress bar by one iteration

pbar.close()  # Ensure the progress bar is properly closed after the operation

print("Conversion to CSV completed.")

Processing: 0chunk [00:00, ?chunk/s]

Conversion to CSV completed.

In [6]:
import pandas as pd
from tqdm.auto import tqdm  # Import tqdm for the progress bar

file_path = 'yelp_dataset/yelp_academic_dataset_user.json'
csv_file_path = 'yelp_dataset/yelp_academic_dataset_user.csv'

# We need to know the total number of chunks to configure tqdm. This can be tricky with files.
# An alternative approach is to estimate the number of iterations by dividing the file size by an estimated chunk size in bytes.
# However, for simplicity and given we might not know the exact number of lines or their distribution, we'll initialize tqdm without total.

chunk_size = 10000  # Adjust based on your system's memory

# Initialize the progress bar. We won't set 'total' as it's hard to determine without reading the file twice.
pbar = tqdm(desc="Processing", unit="chunk")

with pd.read_json(file_path, lines=True, chunksize=chunk_size) as reader:
    for i, chunk in enumerate(reader):
        mode = 'w' if i == 0 else 'a'
        header = True if i == 0 else False
        chunk.to_csv(csv_file_path, mode=mode, index=False, header=header)
        pbar.update(1)  # Update the progress bar by one iteration

pbar.close()  # Ensure the progress bar is properly closed after the operation

print("Conversion to CSV completed.")

Processing: 0chunk [00:00, ?chunk/s]

Conversion to CSV completed.

In [7]:
import pandas as pd
from tqdm.auto import tqdm  # Import tqdm for the progress bar

file_path = 'yelp_dataset/yelp_academic_dataset_review.json'
csv_file_path = 'yelp_dataset/yelp_academic_dataset_review.csv'

# We need to know the total number of chunks to configure tqdm. This can be tricky with files.
# An alternative approach is to estimate the number of iterations by dividing the file size by an estimated chunk size in bytes.
# However, for simplicity and given we might not know the exact number of lines or their distribution, we'll initialize tqdm without total.

chunk_size = 10000  # Adjust based on your system's memory

# Initialize the progress bar. We won't set 'total' as it's hard to determine without reading the file twice.
pbar = tqdm(desc="Processing", unit="chunk")

with pd.read_json(file_path, lines=True, chunksize=chunk_size) as reader:
    for i, chunk in enumerate(reader):
        mode = 'w' if i == 0 else 'a'
        header = True if i == 0 else False
        chunk.to_csv(csv_file_path, mode=mode, index=False, header=header)
        pbar.update(1)  # Update the progress bar by one iteration

pbar.close()  # Ensure the progress bar is properly closed after the operation

print("Conversion to CSV completed.")

Processing: 0chunk [00:00, ?chunk/s]

Conversion to CSV completed.

In [25]:
import pandas as pd
import numpy as np

review_path = 'yelp_dataset/yelp_academic_dataset_review_limited.csv'
business_path = 'yelp_dataset/yelp_academic_dataset_business.csv'
user_limited_path = 'yelp_dataset/yelp_user_limited.csv' 
#sample_fraction = 0.1  # For example, 10% of the data

# Determine the number of rows to skip
#skip = lambda i: i > 0 and np.random.random() > sample_fraction

# Load the random subset of the data
#df = pd.read_csv(file_path, skiprows=skip)
df_review = pd.read_csv(review_path)
df_review = df_review[['user_id','business_id','stars','text']]
df_business = pd.read_csv(business_path)
df_user = pd.read_csv(user_limited_path)
df_user = df_user[['user_id','average_stars']]

In [32]:
df_review.head()

,user_id,business_id,stars,text
0,smOvOajNG0lS4Pq7d8g4JQ,RZtGWDLCAtuipwaZ-UfjmQ,4,Good food--loved the gnocchi with marinara\nth...
1,1C2lxzUo1Hyye4RFIXly3g,BVndHaLihEYbr76Z0CMEGw,5,"Great place for breakfast! I had the waffle, w..."
2,j2wlzrntrbKwyOcOiB3l3w,rBdG_23USc7DletfZ11xGA,4,The hubby and I have been here on multiple occ...
3,RreNy--tOmXMl1en0wiBOg,cPepkJeRMtHapc_b2Oe_dw,4,I was really between 3 and 4 stars for this on...
4,4hBhtCSgoxkrFgHa4YAD-w,bbEXAEFr4RYHLlZ-HFssTA,5,"Great burgers,fries and salad! Burgers have a..."

In [28]:
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [33]:
df_user.head()

                  user_id  average_stars
0  qVc8ODYU5SZjKXVBgXdI7w           3.91
1  j14WgRoU_-2ZE1aw1dXrJg           3.74
2  2WnXYQFK0hXEoTxPtV2zvg           3.32
3  SZDeASXq7o05mMNLshsdIA           4.27
4  hA5lMy-EnncsH4JoR-hFGQ           3.54

In [34]:
df_review_user = pd.merge(df_review, df_user, on='user_id', how='left')


df_combined = pd.merge(df_review_user, df_business, on='business_id', how='left', suffixes=('_review', '_business'))


print(df_combined.head())

                  user_id             business_id  stars_review  \
0  smOvOajNG0lS4Pq7d8g4JQ  RZtGWDLCAtuipwaZ-UfjmQ             4
1  1C2lxzUo1Hyye4RFIXly3g  BVndHaLihEYbr76Z0CMEGw             5
2  j2wlzrntrbKwyOcOiB3l3w  rBdG_23USc7DletfZ11xGA             4
3  RreNy--tOmXMl1en0wiBOg  cPepkJeRMtHapc_b2Oe_dw             4
4  4hBhtCSgoxkrFgHa4YAD-w  bbEXAEFr4RYHLlZ-HFssTA             5

                                                text  average_stars  \
0  Good food--loved the gnocchi with marinara\nth...           3.46
1  Great place for breakfast! I had the waffle, w...           4.17
2  The hubby and I have been here on multiple occ...           3.52
3  I was really between 3 and 4 stars for this on...           4.19
4  Great burgers,fries and salad!  Burgers have a...           4.20

                              name                 address          city  \
0                        LaScala's         615 Chestnut St  Philadelphia
1                    Mamas Kitchen   5524 S Dale Mabry Hwy         Tampa
2                             Olio    1634 Tower Grove Ave   Saint Louis
3          Naked Tchopstix Express  2902 W 86th St, Ste 70  Indianapolis
4  The Original Habit Burger Grill      5735 Hollister Ave        Goleta

  state postal_code   latitude   longitude  stars_business  review_count  \
0    PA       19106  39.949529  -75.152139             3.5           367
1    FL       33611  27.884852  -82.506004             4.5           162
2    MO       63110  38.619543  -90.255805             4.0           398
3    IN       46268  39.912505  -86.211285             3.5            33
4    CA       93117  34.435570 -119.824706             4.0           329

   is_open                                         attributes  \
0        0  {'RestaurantsReservations': 'True', 'BYOBCorka...
1        1  {'BusinessParking': "{'garage': False, 'street...
2        1  {'RestaurantsReservations': 'False', 'WiFi': "...
3        0  {'GoodForMeal': "{'dessert': False, 'latenight...
4        1  {'Caters': 'False', 'GoodForKids': 'True', 'BY...

                                          categories  \
0                 Pizza, Restaurants, Italian, Salad
1  Sandwiches, Restaurants, American (New), Ameri...
2  Wine Bars, Bars, Nightlife, American (New), Me...
3      Restaurants, Food, Poke, Hawaiian, Sushi Bars
4                    Fast Food, Burgers, Restaurants

                                               hours
0  {'Monday': '0:0-0:0', 'Tuesday': '11:30-21:0',...
1  {'Monday': '0:0-0:0', 'Tuesday': '6:0-19:30', ...
2  {'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21...
3  {'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...
4  {'Monday': '0:0-0:0', 'Tuesday': '10:30-21:0',...

In [36]:
df_combined.to_csv('yelp_dataset/yelp_combined.csv')

In [11]:
import pandas as pd

file_path = 'yelp_dataset/yelp_academic_dataset_business.json'

# Load the JSON file where each line is a separate JSON object
df = pd.read_json(file_path, lines=True)

# Display the first few rows of the DataFrame
print(df.head())

              business_id                      name  \
0  Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
1  mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
2  tUFrWirKiKi_TAnsVWINQQ                    Target
3  MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
4  mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery

                           address           city state postal_code  \
0           1616 Chapala St, Ste 2  Santa Barbara    CA       93101
1  87 Grasso Plaza Shopping Center         Affton    MO       63123
2             5255 E Broadway Blvd         Tucson    AZ       85711
3                      935 Race St   Philadelphia    PA       19107
4                    101 Walnut St     Green Lane    PA       18054

    latitude   longitude  stars  review_count  is_open  \
0  34.426679 -119.711197    5.0             7        0
1  38.551126  -90.335695    3.0            15        1
2  32.223236 -110.880452    3.5            22        0
3  39.955505  -75.155564    4.0            80        1
4  40.338183  -75.471659    4.5            13        1

                                          attributes  \
0                      {'ByAppointmentOnly': 'True'}
1             {'BusinessAcceptsCreditCards': 'True'}
2  {'BikeParking': 'True', 'BusinessAcceptsCredit...
3  {'RestaurantsDelivery': 'False', 'OutdoorSeati...
4  {'BusinessAcceptsCreditCards': 'True', 'Wheelc...

                                          categories  \
0  Doctors, Traditional Chinese Medicine, Naturop...
1  Shipping Centers, Local Services, Notaries, Ma...
2  Department Stores, Shopping, Fashion, Home & G...
3  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                          Brewpubs, Breweries, Food

                                               hours
0                                               None
1  {'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...
2  {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
3  {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
4  {'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...

In [14]:
df.describe()

,latitude,longitude,stars,review_count,is_open
count,150346.000000,150346.000000,150346.000000,150346.000000,150346.00000
mean,36.671150,-89.357339,3.596724,44.866561,0.79615
std,5.872759,14.918502,0.974421,121.120136,0.40286
min,27.555127,-120.095137,1.000000,5.000000,0.00000
25%,32.187293,-90.357810,3.000000,8.000000,1.00000
50%,38.777413,-86.121179,3.500000,15.000000,1.00000
75%,39.954036,-75.421542,4.500000,37.000000,1.00000
max,53.679197,-73.200457,5.000000,7568.000000,1.00000

In [1]:
import pandas as pd

df = pd.read_csv("yelp_dataset/yelp_combined_cleaned_chinese.csv")

In [5]:
df.shape

(16014, 16)

In [6]:
df.head()

,user_id,business_id,stars_review,text,average_stars,name,address,city,state,postal_code,latitude,longitude,stars_business,review_count,is_open,categories
0,wABHp4fGUC-0acRKhmQO2A,MMRRS6YhVRx_iN5-JhMRYg,5,"Awesome food, great place to split a bunch of ...",4.24,Han Dynasty,3711 Market St,Philadelphia,PA,19104,39.956711,-75.197103,4.0,783,1,"Restaurants, Chinese, Szechuan"
1,N3udcZJAoPzkKkGFt2vHTA,gyUBYwpUO_u0nqZdre4l1g,5,One of the best and friendliest Chinese places...,5.00,Shanghai Express,Church Rd & Hainespo,Marlton,NJ,08053,39.916113,-74.921519,4.0,74,1,"Chinese, Restaurants"
2,EJzRtdXROAfTyuF5jITFjA,I9DCtzUgR4gamBFMVsdY8g,4,Good Chinese food and really nice beer selecti...,4.04,Capital Beer,2661 E Cumberland St,Philadelphia,PA,19125,39.976126,-75.119234,3.5,75,1,"Chinese, Restaurants, Sushi Bars"
3,XOrq3ZorrmuakaWKQAKJ8w,q2cgYLHKRaujrQgSnqJPTA,1,For the time and effort I put into ordering on...,3.33,Panda Express,"1430 West Carmel Drive, Suite 100",Carmel,IN,46032,39.971909,-86.154270,3.0,39,1,"Chinese, Restaurants, Fast Food"
4,iGY0x_YgFcewnJl0aJBuYA,LDkD5R5N7CG9yCD0YSLMZA,5,Mae's is the best Chinese restaurant on this e...,2.29,Mae's Chinese Restaurant,2475 S Harrison Rd,Tucson,AZ,85748,32.193084,-110.789219,4.0,66,0,"Chinese, Restaurants"